.lottery-main{
  width: 66%;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate3d(-50%,0,0);
  z-index: 2;
  .lottery-name {
    position: relative;
    height: 10vh;
    line-height: 10vh;
    font-size: 18px;
    text-align: center;
    background: url('../../images/award_bkg.png') no-repeat center center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
  }
  .lottery-roll {
    position: relative;
    margin-top: -1vh;
    height: 4.7vh;
    line-height: 4.7vh;
    text-align: center;
    background: url('../../images/roll_bkg1.png') no-repeat center center;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
  }
}