.lottery-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  .lottery-main{
    width: 100%;
    position: absolute;
    left: 50%;
    top: -3.1vh;
    transform: translate3d(-50%,0,0);
    z-index: 2;
      @-webkit-keyframes test_anim{
        0%{ background-position:0 0;}
        100%{ background-position: -424.25rem 0;}
      }
      @keyframes test_anim{
        0%{ background-position:0 0;}
        100%{ background-position: -424.25rem 0;}
      }
    .lottery-name {
      position: relative;
      margin: 0 auto;
      height: 3.87rem;
      line-height: 3.9rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: black;
      text-align: center;
      width: 16.97rem;
      background: url('../../images/award-ani.png') center center;
      background-size:cover;
      -webkit-animation:test_anim 1s steps(25, start) 0ms infinite alternate backwards;
      animation:test_anim 1s steps(25, start) 0ms infinite normal backwards;
    }
    .lottery-roll {
      position: relative;
      margin-top: 1.2vh;
      height: 7.7vh;
      line-height: 7vh;
      color: black;
      text-align: center;
      text-align: center;
      background: url('../../images/roll_bkg1.png') no-repeat center center;
      background-position-x: center;
      background-position-y: center;
      background-size: contain;
    }
  }  
  .lottery-result {
    width: 100%;
    height: 62vh;
    bottom: 15vh;
    position: absolute;
    .lottery-result-text {
      font-size: 9.2vh;      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      height: auto;
    }
    .result-style-2 {
      font-size: 9.2vh;
      .result-name{
        display: inline-block;
        width: 30vh;
        text-align: right;
        margin-right: 3vh;
      }
    }
    .result-style-3 {
      font-size: 9.2vh;
      line-height: 1.83;
      .result-name{
        display: inline-block;
        width: 30vh;
        text-align: right;
        margin-right: 3vh;
      }
    }
    .result-style-4 {
      font-size: 6.3vh;
      line-height: 1.85;
      .result-name{
        display: inline-block;
        width: 20vh;
        text-align: right;
        margin-right: 3vh;
      }
    }
    .result-style-10 {
      font-size: 6vh;
      margin-left: 4vh;
      display: inline-block;
      .result-name{
        display: inline-block;
        width: 25vh;
        text-align: right;
        margin-right: 3vh;
      }
    }
    
  }
}
